
snippet tconst "ts const"
	const ${1}: ${2:any} = ${3};
	${0}
endsnippet
snippet tlet "ts let"
	let ${1}: ${2:any} = ${3};
	${0}
endsnippet
snippet tvar "ts var"
	var ${1}: ${2:any} = ${3};
	${0}
endsnippet
snippet + "ts create field"
	${1}: ${0:any}
endsnippet

